BOT_HOST=mc.cosmicmc.com
BOT_PORT=25565
BOT_VERSION=1.9.4
BOT_AUTH=offline
BOT_USERNAME_PREFIX=
BOT_PASSWORD=12345!
BOT_COUNT=100
BOT_BATCH_SIZE=25
BOT_LAUNCH_INTERVAL_MS=5000
AUTO_MCMMO=true
AUTH_FALLBACK_SECONDS=10
RECONNECT=true
RECONNECT_DELAY_SECONDS=15
VERBOSE_LOGS=false
